.collection img{
    height:100%;
    width:100%;

    position: absolute;
}
.home{
    width:80%;
    margin: 0 auto;
}
.collection {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 50px   );
    display: flex;
}
.title-container{
    position: absolute;
    z-index: 1;
    top:50%;
    left:50%;
    width:100%;
    transform: translate(-50%,-50%);
}
.title{
    font-size: 7rem;
}

.female{
    animation: toggle 10s infinite alternate ;
}
.male{
    animation: toggle 10s infinite alternate-reverse ;
}

@keyframes toggle{
    0%{
        opacity: 0;
    }
    100%{
        opacity: .3;
    }
}