.form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight:500;
    top:25%;
    left:40%;
    width:30%;
    height:60%;
    position: absolute;
    background:gray;
    padding:0 20px 0;
}

.input-controls{
    display: flex;
    margin:.4em 0;
    flex-direction: column;
}
.input-controls > input{
    padding: 0.175rem 1rem;
    height:3.75rem;
    color:black;
    border-radius: 8px;
    border:none;
    background-image:linear-gradient(to top,white,lightblue) ;
    

}
.input-controls >  label {
    margin: .3em 0;
    align-self:flex-start;
    font-size: 1.1em;;
    font-weight:500;
}


.form > .btn{
    width:100%;
    background:rgb(51, 178, 224);
    padding:.6em;
    color:white;
    border:none;
    margin-bottom:16px;
    border-radius: 13px;
    margin:2em 0em 2em;
    font-size:1.1em;
}
.show{
    opacity: 1;
}
.hide{
    opacity: 0;
}

